<FilesMatch "\.(html)$">
FileETag None
<ifModule mod_headers.c>
Header set Access-Control-Allow-Origin: https://accounts.google.com
</ifModule>
</FilesMatch>

RewriteEngine On
RewriteBase /

RewriteRule ^oauth2callback$ /videos.html#/oauth2callback [NE,L,R,QSA]